.box-tabs {
    -webkit-box-shadow: 0 0 8px rgb(34 34 34 / 14%);
    box-shadow: 0 0 8px rgb(34 34 34 / 14%);
}

.tab-col-item {
    width: 100%;
    position: relative;
    padding: 12px 30px !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border-radius: 0 !important;
    justify-content: flex-start !important;
    transition: all 0.2s ease-out;
}

.tab-col-item:hover {
    background: var(--primary);
    color: #fff;
}
