.order-success-comp {
    .img-animation {
        animation: mover 1s infinite alternate;
    }
    @keyframes mover {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-7px);
        }
    }
}
