.filters-wrapper {
    &.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 256px;
        z-index: 70;
        opacity: 1;
        transition: all 0.3s ease;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 256px;
    background-color: #000;
    opacity: 0.5;
    animation: show 0.3s;
    z-index: 25;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
