.size:checked ~ .size-label,
.color:checked ~ .color-label {
    color: #fe696a;
    border-color: #fe696a;
}

.product-hover {
    .product-size-hover {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-20px);
        transition: all ease 0.4s;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    &:hover {
        .product-size-hover {
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
            transition: all ease 0.4s;
        }
    }
}
